.back_button {
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-text);
    font-family: AspektaVF;
    position: fixed;
    top: 48px;
    left: 48px;
}
